@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    min-height: 100vh;
    background: url("../img/bg-header.png") no-repeat center center/cover;
    padding-top: 40px;
}

header nav {
    width: 84%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li a {
    color: #fff;
    margin: 0 12px;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 20px;
}

header ul li a:hover {
    border-bottom: 1px solid #fff;
}

#hero {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10%;
}

#hero h2 {
    font-size: 50px;
    color: #FFEB00;
    font-weight: 500;
}

#hero h1 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 80px;
}

#hero button {
    background: yellow;
    color: #666;
    padding: 10px 30px;
    font-size: 26px;
    border-radius: 8px;
    cursor: pointer;
}

#planes{
    width: 100% ;
    position: relative;
    padding: 120px 0;
    text-align: center;
}

#planes h2{
    font-size: 50px;
    margin-bottom: 30px;
}

#planes p{
    font-size: 20px;
    margin-bottom: 30px;
}

#planes .fila{
    display: flex;
    justify-content: center;
}

#planes article{
    margin: 20px 50px;
    position: relative;
}

#planes article h3{
    position: absolute;
    top: 120px;
    color: yellow;
    width: 100%;
    text-align: center;
}

#destinos{
    width: 100%;
    padding: 120px 0 50px;
    background: url("../img/bg-destinos.png");
    background-size: cover;
    background-position: center;
}

#destinos h2{
    color: yellow;
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#destinos .fila{
    display: flex;
    justify-content: center;
}

#destinos article{
    margin: 30px 150px;
}

#destinos h3{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

#contacto {
    background: yellow;
    padding: 80px 0;
    text-align: center;
}

#contacto form {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.campo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.campo input, .campo select {
    width: 48%;
    padding: 12px 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #94940c;
    color: white;
    font-size: 22px;
    padding: 12px 50px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #7a7a0a;
}
footer {
    background: black;
    color: #fff;
    padding: 40px;
    text-align: center;
}
